<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>pixl Grid Multi</string>
   <key>CFBundleName</key>
   <string>pixl Grid Multi</string>
   <key>CFBundleIdentifier</key>
   <string>com.videowalrus.GridDraw</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>1.2.0.3.1430</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>en</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>NSHumanReadableCopyright</key>
   <string>Video Walrus</string>
   <key>CFBundleShortVersionString</key>
   <string>172</string>
   <key>CFBundleIconFile</key>
   <string>App</string>
   <key>LSMinimumSystemVersion</key>
   <string>10.10.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>NSRequiresAquaSystemAppearance</key><false/>
<key>CFBundleSupportedPlatforms</key><array><string>MacOSX</string></array>
   <key>CFBundleDocumentTypes</key>
   <array>
      <dict>
         <key>CFBundleTypeName</key>
         <string>GridValues</string>
         <key>CFBundleTypeIconFile</key>
         <string>pg2.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string></string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>pg2</string>
         </array>
         <key>LSItemContentTypes</key>
         <array>
            <string>com.videowalrus.pg2</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>Editor</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>GridValuesXML</string>
         <key>CFBundleTypeIconFile</key>
         <string>pg3.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string></string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>pg3</string>
         </array>
         <key>LSItemContentTypes</key>
         <array>
            <string>com.videowalrus.pg3</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>Editor</string>
      </dict>
   </array>

   <key>UTExportedTypeDeclarations</key>
   <array>
      <dict>
         <key>UTTypeIdentifier</key>
         <string>com.videowalrus.pg2</string>
         <key>UTTypeConformsTo</key>
         <array>
            <string>public.data</string>
         </array>
         <key>UTTypeDescription</key>
         <string>Grid List export</string>
         <key>UTTypeIconFile</key>
         <string>pg2.icns</string>
         <key>UTTypeTagSpecification</key>
         <dict>
            <key>public.filename-extension</key>
            <array>
            <string>pg2</string>
            </array>
         </dict>
      </dict>
      <dict>
         <key>UTTypeIdentifier</key>
         <string>com.videowalrus.pg3</string>
         <key>UTTypeConformsTo</key>
         <array>
            <string>public.data</string>
         </array>
         <key>UTTypeDescription</key>
         <string>Grid List export XML</string>
         <key>UTTypeIconFile</key>
         <string>pg3.icns</string>
         <key>UTTypeTagSpecification</key>
         <dict>
            <key>public.filename-extension</key>
            <array>
            <string>pg3</string>
            </array>
         </dict>
      </dict>
   </array>

   <key>UTImportedTypeDeclarations</key>
   <array>
      <dict>
         <key>UTTypeIdentifier</key>
         <string>public.png</string>
         <key>UTTypeConformsTo</key>
         <array>
            <string>public.image</string>
         </array>
         <key>UTTypeTagSpecification</key>
         <dict>
            <key>public.filename-extension</key>
            <array>
            <string>png</string>
            </array>
            <key>com.apple.ostype</key>
            <array>
               <string>PNGf</string>
            </array>
         </dict>
      </dict>
   </array>

</dict>
</plist>